body {
  --url-image: url(../img/christion-dubovan.jpg);
  background-image: var(--url-image, gray);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
p {
  width: 50%;
  text-align: center;
  text-decoration: underline;
}
.temporary-text {
  color: #fff;
  font-size: 3em;
}
.loader {
  text-align: center;
  width: auto;
  height: auto;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(0deg);
  }
}
/* #Hyperman {
  width: 11px;
  height: 14px;
  background: url("data:image/gif;base64,R0lGOD lhCwAOAMQfAP////7+/vj4+Hh4eHd3d/v7+/Dw8HV1dfLy8ubm5vX19e3t7fr 6+nl5edra2nZ2dnx8fMHBwYODg/b29np6eujo6JGRkeHh4eTk5LCwsN3d3dfX 13Jycp2dnevr6////yH5BAEAAB8ALAAAAAALAA4AAAVq4NFw1DNAX/o9imAsB tKpxKRd1+YEWUoIiUoiEWEAApIDMLGoRCyWiKThenkwDgeGMiggDLEXQkDoTh CKNLpQDgjeAsY7MHgECgx8YR8oHwNHfwADBACGh4EDA4iGAYAEBAcQIg0Dk gcEIQA7");
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
} */
